<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" content="text/html;" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header (${scriptsVersion})"></head>
<body>
<div class="menu">
    <a href="diplomas"><span>Сертификаты</span></a>
    <a href="results"><span>Результаты</span></a>
    <a href="payments"><span>Платежи</span></a>
    <a href="forms"><span>Анкеты</span></a>
    <a href="/"><span>Вернуться в lessons [->]</span></a>
</div>
<div>
    <a href="https://lessons.kundelik.kz">Пожалуйста, войдите под учётной записью администратора!</a>
</div>
</body>
</html>